/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┏┓┏┳┓┓┏┓ ┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┗┓ ┃ ┗┫┃ ┣ 
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┗┛ ┻ ┗┛┗┛┗┛
 *                              
 */

/*-----------------Source pywal colors----------------*/
@import url("../../.cache/wal/colors-waybar.css");

@define-color background-alt shade(@background, 0.9);
@define-color foreground-alt @background;
@define-color red @color9;
@define-color green @color10;
@define-color yellow @color11;
@define-color blue @color12;
@define-color magenta @color13;
@define-color cyan @color14;

/* Global */
* {
  font-family: "Iosevka Nerd Font Propo";
  font-size: 11pt;
  font-weight: 500;
}

/* Waybar */
window#waybar {
  background: @background;
  color: @foreground;
}

.modules-left {
  padding-left: 0.25rem;
}

.modules-right {
  padding-right: 0.25rem;
}

/* Modules */
#workspaces,
#workspaces button,
#idle_inhibitor,
#network-modules,
#wireplumber-modules,
#backlight-modules,
#battery-modules,
#tray,
#clock,
#mpd,
#custom-swaync,
#custom-colorpicker,
#custom-pacman,
#custom-weather,
#custom-exit,
#custom-lock,
#custom-suspend,
#custom-reboot,
#custom-power {
  background: @background-alt;
  border-radius: 0px;
  margin: 0.5rem 0.25rem;
  transition: 300ms linear;
}

#image,
#window,
#network.address,
#wireplumber.volume,
#backlight.percent,
#battery.capacity,
#tray,
#clock {
  padding: 0.25rem 0.75rem;
}

#custom-colorpicker,
#custom-pacman,
#custom-weather,
#mpd {
  color: @foreground;
  border-radius: 0px;
  padding: 0.25rem 0.6rem 0.25rem 0.6rem;
  min-width: 1.5rem;
  transition: 300ms linear;
}

#idle_inhibitor,
#custom-swaync,
#network.icon,
#wireplumber.icon,
#backlight.icon,
#battery.icon,
#custom-exit,
#custom-lock,
#custom-suspend,
#custom-reboot,
#custom-power {
  background: @blue;
  color: @foreground-alt;
  border-radius: 0px;
  font-size: 13pt;
  padding: 0.25rem;
  min-width: 1.5rem;
  transition: 300ms linear;
}

/* Workspaces */
#workspaces button {
  margin: 0;
  padding: 0.25rem;
  min-width: 1.5rem;
}

#workspaces button label {
  color: @foreground;
}

#workspaces button.empty label {
  color: @color7;
}

#workspaces button.urgent label,
#workspaces button.active label {
  color: @foreground-alt;
}

#workspaces button.urgent {
  background: @red;
}

#workspaces button.active {
  background: @blue;
}

/* Idle Inhibitor */
#idle_inhibitor {
  background: @background-alt;
  color: @blue;
}

#idle_inhibitor.deactivated {
  color: @color7;
}

/* Systray */
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: @red;
}

/* Hover effects */
#workspaces button:hover,
#idle_inhibitor:hover,
#idle_inhibitor.deactivated:hover,
#clock:hover {
  background: lighter(@background-alt);
}

#workspaces button.urgent:hover {
  background: lighter(@red);
}

#workspaces button.active:hover,
#custom-swaync:hover,
#network.icon:hover,
#wireplumber.icon:hover,
#custom-exit:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-reboot:hover,
#custom-power:hover {
  background: shade(@blue, 0.7);
}

#workspaces button.urgent:hover label,
#workspaces button.active:hover label,
#network.icon:hover label,
#wireplumber.icon:hover label,
#custom-exit:hover label,
#custom-lock:hover label,
#custom-suspend:hover label,
#custom-reboot:hover label,
#custom-power:hover label {
  color: lighter(@background-alt);
}

#workspaces button:hover label {
  color: lighter(@foreground);
}

#workspaces button.empty:hover label {
  color: lighter(@color7);
}

#idle_inhibitor:hover {
  color: lighter(@blue);
}

#idle_inhibitor.deactivated:hover {
  color: lighter(@color7);
}

tooltip {
  background-color: @background;
  border: 2px solid @blue;
  border-radius: 0px;
}

tooltip label {
  color: @foreground;
  padding: 4px;
}
